[databases]
{{ db_stack_pg_db }} = host=postgres port=5432 dbname={{ db_stack_pg_db }} user={{ db_stack_pg_user }}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = 6432
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
pool_mode = transaction
max_client_conn = 100
default_pool_size = 20
log_connections = 1
log_disconnections = 1
admin_users = {{ db_stack_pgbouncer_user }}
stats_users = {{ db_stack_pgbouncer_user }}
