app_db = host=postgres port=5432 dbname=app_db user=app_user password=1234

[pgbouncer]
pool_mode = transaction
max_client_conn = 100
default_pool_size = 20
reserve_pool_size = 5
listen_port = 6432
listen_addr = *
auth_file = /etc/pgbouncer/userlist.txt
auth_type = plain
admin_users = app_user
stats_users = app_user
logfile = /dev/stdout
pidfile = /tmp/pgbouncer.pid

